* {
  box-sizing: border-box;
}

:root {
  --primary: #44e9ff;
  --secondary: #497980;
  --tertiary: rgb(192, 246, 253);
  --grey: #333;
  font-size: 62.5%;
}

body {
  background: #ededed;
  color: var(--grey);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background: var(--secondary);
  padding: 30px 25px;
}
.main-header {
  background: white;
}

/* --------------------------- */

.quiz_start_btn,
.quiz_info_container,
.question_list_wrapper,
.score {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2),
  0px 6px 20px rgb(0, 0, 0, 0.19);
  transition: all 0.3s ease;
  
}

.quiz_info_container.activeInfo,
.question_list_wrapper.activeQuiz{
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

/* apply styling to quiz star button */

.quiz_start_btn {
  width: 320px;
  height: 180px;
  background: rgb(206, 213, 219);
  display: inline-block;
  text-align: center;
  border-radius: 5px;

}

.quiz_start_btn h2 {
  width: 100%;
  height: 50px;
  padding-top: 18px;
  margin-bottom: 30px;
  color: rgb(48, 63, 194);
  font-size: 2em;
  border-bottom: 1px solid rgb(160, 155, 155);
}

.quiz_start_btn button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 2em;
  border: 2px solid rgb(107, 114, 107);
  background: rgb(43, 116, 226);
  color: white;
  transition: transform 0.5s ease-out;
  cursor: pointer;
}


.quiz_start_btn button:hover {
  color: rgb(255, 255, 255);
  background: green;
  transform: scale(1.2);
}

.quiz_info_container {
  width: 400px;
  background: rgb(250, 231, 196);
  border-radius: 10px;
  font-size:.9em;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.quiz_info_container .quiz-info-title {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 4%;
  font-size: 1e;
  font-weight: 600;
}

.quiz_info_container .quiz_info_list {
  padding: 1% 4%;
}

.quiz_info_container .quiz_info_list .quiz-info {
  color: rgb(0, 0, 0);
  margin: 0 5px;
  font-size: 1.5em;
}

#quiz-info-buttons {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-top: 1px solid lightblue;
}

#quiz-info-buttons button {
  margin-left: 30px;
  width: 120px;
  height: 35px;
  outline: none;
  border: none;
  padding: 10px 15px;
  background: rgb(0, 153, 255);
  font-size: 1.5rem;
  border-radius: 15px;
  transition: transform 0.6s ease-out;
  cursor: pointer;
}

#exit:hover {
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.6s;
  transform: scale(1.01);
}
#continue_btn:hover {
  background: rgb(3, 92, 40);
  color: rgb(255, 255, 255);
  transition: 0.6s;
  transform: scale(1.01);
}

/* ---------------------------- */

footer {
  width: 100%;
  background: var(--secondary);
  color: var(--tertiary);
  font-size: 2em;
  padding: 20px;
  border-radius: 10px;
}

.question_list_wrapper {
  margin-top: 170px;
  width: auto;
  flex: 1;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9)
}

.question_list-title {
  color: var(--secondary);
  font-size: 1.3em;
}

.question_list {
  list-style: none;
  padding: 15px;
  height: calc(100% - 50px);
  background: rgb(196, 196, 196);
  border-radius: 12px;
  border: 2px solid var(--grey);
}

.question_item {
  color: var(--grey);
  padding: 15px 15px;
  border: 2px solid var(--grey);
  background: var(--tertiary);
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 0 30px 20px 30px;
}

.question-type {
  color: var(--secondary);
  font-size: 1.55rem;
}

.quiz_page_content {
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 100px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    width: 95%;
}

.question_list_wrapper  {
background: white;

}
.question_list_wrapper header {
  height: 70px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;

}

#header {
  font-size: 1.1em;
  color: rgb(255, 255, 255);
}

#count-down-timer {
  text-align: center;
  width: 40px;
  height: 40px;
  background: #44e9ff;
  border: 1px solid lightgray;
  border-radius: 50%;
}



#time_left{ 
  width: 60px;
  height: 60px;
  font-size: 1.2em;
  font-weight: 500;
  background: rgb(97, 252, 244);
  color: red;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  border: 6px solid #107986;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}


.question {
  color: #0011ff;
  font-size: 2em;
}

.choice_list {
  padding-left: 25px;
  display: block;
}

.choice_list .choice {
  background: #6e6a6a48;
  border: 1px solid #3183a3;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-weight: 500;
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  text-transform: capitalize;
  transition: transform 0.5s ease-out;
}

.choice_list .choice.correct {
background: rgb(177, 238, 162);
color: rgb(0, 16, 247);
border: 1px solid rgb(41, 40, 40);
}

.choice_list .choice.wrong {
  background: rgb(233, 175, 175);
  color:rgb(0, 0, 0);
  border: 1px solid grey;
  }
  




.choice_list .choice:hover {
  font-weight: 600;
  transition: transform 0.2s ease-out;
  background: #6e6e6ebd;
  transform: scale(1 1.2);
}
.correct-answer {
  color: green;
}
.wrong-answer {
  color: rgb(223, 3, 3);
}

.question_list_wrapper footer {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.question_list_wrapper span {
  display: flex;
  user-select: none;
}

footer .next {
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 70px;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}
footer .next:hover {
  background: rgb(62, 135, 230);
}

.score {
  width: 500px;
  padding: 25px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale((0.8));
}

.score-message span {
  display: flex;
  font-size: 1em;
}
.quiz-complite-message {
  font-size: 1em;
  font-weight: 500;
}
.score-message p {
  padding: 0 3px;
  font-weight: 600;
}
.score .buttons {
  display: flex;
  margin: 20px 0;
  
}

.score .buttons button {
  border-radius: 6px;
  margin: 0 5px;
  height: 40px;
  background: #229cee;
  color: #ffffff;
  font-size: 0.7em;
  cursor: pointer;
  transition: transform 0.5s ease-out;
}

.score .buttons button:hover {
  color: black;
  font-weight: 600;
  transition: transform 0.2s ease-out;
  background: #ffffffbd;
  transform: scale(1 1.2);
}


@media (max-width: 980px) {
  #quiz-info-buttons {
    width: 100%;
    font-size: .5em;
    text-align: center;
    background-color: #959b9e;
    padding: 0;
  }
 #quiz-info-buttons button {
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
  background-color: #0089e4;
  border:1px solid #333;
}
.quiz_info_container{
  height: 193px;
  margin:0;
  font-size: .8em;
}

.quiz_info_list{
  margin-bottom: 4px;
}

}

.question_list_wrapper{
  position: relative;
}
body {
  margin-top: 10px;
}